<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: DerpFest AOSP
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.battery.heart">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="android.theme.customization.battery_style"
        android:priority="1"
        android:isStatic="false" />

    <application
        android:label="Heart"
        android:hasCode="false" />
</manifest>
